<form *ngIf="registerForm" [formGroup]="registerForm" (submit)="register()" class="example-form">

    <app-input-text [formControl]="$any(registerForm.controls?.['username'])" [label]="'Username'"></app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['knownAs'])" [label]="'Known as'"></app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['dateOfBirth'])" [type]="'date'"
        [label]="'Date Of Birth'">
    </app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['city'])" [label]="'City'"></app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['country'])" [label]="'Country'"></app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['password'])" [type]="'password'" [label]="'Password'">
    </app-input-text>
    <app-input-text [formControl]="$any(registerForm.controls?.['confirmPassword'])" [type]="'password'"
        [label]="'Confirm Password'">
    </app-input-text>



    <button mat-raised-button color="primary" style="margin-right: 1rem;" type="submit">Register</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</form>

<br>
<br>
<br>

<p>Form Value: {{registerForm?.value | json}}</p>
<p>Form Status: {{registerForm?.status}}</p>