<section>
    <div style="text-align: center;">
        <div class="button-row">
            <button (click)="get400Error()" mat-raised-button color="primary">Test 400 Error</button>
            <button (click)="get404Error()" mat-raised-button color="primary">Test 404 Error</button>
            <button (click)="get401Error()" mat-raised-button color="primary">Test 401 Error</button>
            <button (click)="get500Error()" mat-raised-button color="primary">Test 500 Error</button>
            <button (click)="get400ValidationError()" mat-raised-button color="primary">Test 400 Validation
                Error</button>
        </div>
    </div>
</section>