<div *ngIf="pagination" style="text-align: center;">
    <h1>Suggest friends - {{pagination.totalItems}} friend</h1>
</div>

<div>
    <form #form="ngForm" *ngIf="userParams && members" (ngSubmit)="loadMembers()" autocomplete="off">

        <div style="padding-left: 396px;">
            <mat-form-field class="example-full-width" style="padding-right: 1rem;" appearance="fill">
                <mat-label>Age from: </mat-label>
                <input matInput type="number" name="minAge" [(ngModel)]="userParams.minAge" />
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Age to: </mat-label>
                <input matInput type="number" name="maxAge" [(ngModel)]="userParams.maxAge" />
            </mat-form-field>
            <br>

            <mat-label>Show: </mat-label>
            <mat-select style="width: 350px" name="gender" [(ngModel)]="userParams.gender">
                <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                    {{gender.displayName}}
                </mat-option>
            </mat-select>

        </div>

        <div style="padding-left: 493px; padding-top:21px">
            <button mat-raised-button color="primary" style="margin-right: 1rem;" type="submit">Apply filters</button>
            <button mat-raised-button color="warn" (click)="resetFilters()">Reset Filters</button>

            <div *ngIf="userParams" style="padding-top: 30px;">
                <mat-radio-group>
                    <mat-radio-button name="orderBy" [(ngModel)]="userParams.orderBy" style="padding-right: 15px"
                        (click)="loadMembers()">
                        Last
                        Active</mat-radio-button>
                    <mat-radio-button name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()">
                        Newest Members
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

    </form>
</div>

<mat-grid-list cols="4" rowHeight="2:4" *ngIf="members">
    <mat-grid-tile *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </mat-grid-tile>
</mat-grid-list>

<div style="padding-right: 439px;" *ngIf="pagination">
    <mat-paginator [length]="pagination.totalItems" [(ngModel)]="pagination.currentPage" (click)="pageChanged($event)"
        [pageSize]="pagination.itemsPerPage">
    </mat-paginator>
</div>