<mat-toolbar color="primary" class="navbar">
    <div>
        <a routerLink="/">LOGO</a>
        <ng-container *ngIf="accountService.currentUser$ | async">
            <a routerLink="/members">Matches</a>
            <a routerLink="/lists">Lists</a>
            <a routerLink="/messages">Messages</a>
            <a routerLink="/admin">Admin</a>
        </ng-container>
        <a routerLink="/errors">Errors</a>
    </div>

    <div *ngIf="(accountService.currentUser$ | async) && user">
        <ng-container>
            <img width="50" [src]="user.photoUrl || './assets/images/user.png'" [alt]="user.username" />
        </ng-container>
        <mat-form-field appearance="fill">
            <mat-label>Welcome {{user.username |titlecase}}</mat-label>
            <mat-select>
                <mat-option routerLink="/member/edit">
                    Profile
                </mat-option>
                <mat-option (click)="logout()">
                    Logout
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="(accountService.currentUser$ | async) === null">
        <form #loginFrom="ngForm" (submit)="login()" autocomplete="off">
            <mat-form-field class="navbar-form-margin" appearance="fill">
                <input name="username" [(ngModel)]="model.username" matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field class="navbar-form-margin" appearance="fill">
                <input name="password" [(ngModel)]="model.password" type="password" matInput placeholder="Password">
            </mat-form-field>
            <button mat-raised-button class="navbar-form-margin">Login</button>
        </form>
    </div>
</mat-toolbar>