section {
  margin-top: 5rem;

  div {
    text-align: center;

    p {
      padding-bottom: 15px;
    }

    h1 {
      text-align: center;
      color: #3f51b5;
      position: relative;
      top: -67px;
    }

    p:nth-child(1) {
      font-size: 50px;
      text-align: center;
      color: #f44336;
    }

    p:nth-child(2) {
      font-size: 20px;
      text-align: center;
      color: #f44336;
    }

    mat-checkbox {
      color: #f44336;
      padding-bottom: 25px;
    }
  }
}
