<div class="bounds" style="padding: 50px;" *ngIf="member">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
        <form #editForm="ngForm">
            <div fxFlex="33" class="sec1" fxFlex.xs="55">
                <mat-card class="example-card">
                    <mat-card-header>
                        <img [src]="member.photoUrl" [alt]="member.knownAs" mat-card-avatar
                            class="example-header-image" />
                        <mat-card-title>{{member.knownAs}}</mat-card-title>
                        <mat-card-subtitle>{{member.age}} years old</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="member.photoUrl">
                    <mat-card-actions>
                        <mat-card-title class="mat-title">Member Since: <strong>{{member.created | date}}</strong>
                        </mat-card-title>

                        <mat-form-field class="example-full-width" appearance="fill" width="100%">
                            <p>Location: <strong>{{member.country}} - {{member.city}}</strong></p>
                            <input matInput [disabled]="true" placeholder="" [(ngModel)]="member.gender"
                                [value]="member.gender" name="gender" />
                        </mat-form-field>
                        <br>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxFlex="67" class="sec2" style="padding-left: 10px;">
                <mat-tab-group>
                    <mat-tab label="About">
                        <mat-form-field class="example-full-width" appearance="fill" width="100%">
                            <mat-label>Description</mat-label>
                            <textarea style="color: black;" rows="25" [(ngModel)]=" member.introduction"
                                name="introduction" matInput [disabled]="true">
                            </textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill" width="100%">
                            <mat-label>Looking For</mat-label>
                            <textarea rows="25" style="color: black;" [disabled]="true" rows="25" matInput
                                [(ngModel)]="member.lookingFor" name="lookingFor"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill" width="100%">
                            <mat-label>Interests</mat-label>
                            <textarea rows="25" style="color: black;" [disabled]="true" rows="25" matInput
                                [(ngModel)]="member.interests" name="interests"></textarea>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab label="Photos">
                        <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions"
                            [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                    </mat-tab>
                    <mat-tab label="Messages">
                        <app-member-messages [username]="member.username"></app-member-messages>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </form>
    </div>
</div>