<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{label}}</mat-label>
    <input matInput type="{{type}}" placeholder="{{label}}" [formControl]="$any(ngControl.control)" />
    <mat-error *ngIf="ngControl.control?.errors?.['required']">
        {{label}} is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="ngControl.control?.errors?.['minlength']">
        {{label}} Min length is <strong>4 Characters</strong>
    </mat-error>
    <mat-error *ngIf="ngControl.control?.errors?.['maxlength']">
        {{label}} Max length is <strong>4 Characters</strong>
    </mat-error>
</mat-form-field>


<br>